body{
    height: 100vh;
    display: flex;
    background-color: #cceae8;
    justify-content: center;
    align-items: center;

}

.primero{
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.pregunta{
    background-color: #539091;
    width: 450px;
    height: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: x-large;
    
}

.botones{
    display: flex;
    justify-content: space-evenly;
    background-color: #539091;
    width: 450px;
    height: auto;
    padding-bottom: 20px;
}


.boton_si {
  background: #fff; /* color de fondo */
  color: #3c7374; /* color de fuente */
  border: 2px solid #539091; /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
}
.boton_si:before, .boton_si:after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  background-color: #539091; /* color de fondo hover */
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.boton_si:after {
  left: 100%;
}
.boton_si:hover {
  color: #fff; /* color de fuente hover */
}
.boton_si:hover:before {
  left: 0;
}
.boton_si:hover:after {
  left: 50%;
}

.no_visible{
    display: none;
}

.dibujito{
    display: flex;
    height: 500px;
    width: 500px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 5px solid #539091

}

#lienzo {
  width: 100%;
  height: 100%;
  border: 5px dashed #3c7374; 
  cursor: crosshair;
}

.segunda_parte{
    display: flex;
    width: 500px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    color: white;

}


.nombre{
   width: 500px;
   margin-top: 10px;
   background-color: #cceae8;
   margin-bottom: 10px;
   
}

.texto{
    text-align: center;
    width: 510px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: #539091;
}